* {
  border: 0;
  margin: 0;
}

.card-link {
  color: black;
  text-decoration: none;
}

.card-link:hover {
  color: rgb(125, 124, 124);
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 8px;
  padding: 15px 20px;
  width: 300px;
}

.card-title {
  text-align: center;
  font-family: 'Koulen' , cursive;

}

.card-image {
  width: 90%;
}

.first {
  margin-right: 20px;
}
