.explore-main {
  align-items: center;
  background-color: rgb(71, 124, 71);
  color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  z-index: 1;
}


.main-buttons {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 70px;
}

.button-filter {
  background-color: white;
  border: none;
  border-radius: 5px;
  color: black;
  cursor: pointer;
  font-size: 18px;
  height: 70px;
  letter-spacing: 2px;
  padding: 0 10px;
  transition: all 0.5s ease;
  width: 16rem;
  z-index: 1;
}

.button-filter:hover {
  background-color: rgb(230, 229, 229);

}

.title-explore {
  font-family: 'Koulen' , cursive;
  margin-top: 10px;

}
