* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

.main-header {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 10px;
  justify-content: space-between;
  left: 0;
  opacity: 0.9;
  padding: 20px 50px;
  position: fixed;
  top: 0;
  width: 100%;

}
