* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

.main-header {
  width: 100%;
}

.header {
  align-items: center;
  background-color: white;
  display: flex;
  height: 50px;
  justify-content: space-around;
}


.title-header {
  color: black;
  font-family: 'Rajdhani' , sans-serif;
  font-size: 30px;
  text-align: center;
}

.header-input {
  background-color: #fff0;
}
