.login-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 65rem;
    background: #383737;
}

.form-input{
    width: 320px;
    height: 580px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.woman-cooking-image{
    height: 599px;
    width: 684px;
    left: 54px;
    top: 224px;
    border-radius: 0px;

}


.enter-login-button{
    background-color: rgb(255, 255, 255);
    height: 40px;
    padding: 0 10px;
    border-radius: 5px;
    width: 50%;
    font-size: 16px;
    color: #444;
    cursor: pointer;
    border: none;
    font-weight: bold;
    transition: all 0.5s ease;
    font-family: 'Press Start 2P', cursive;
}

.enter-login-button:disabled{
    opacity: 10%;
    cursor: not-allowed;
}


.password-login-input{
    background-color: rgb(216, 207, 207);
    margin: 7px 0;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    color: rgb(0, 0, 0);
    border-radius: 5px;
}

.email-login-input{
    background-color: rgb(216, 207, 207);
    margin: 7px 0;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    color: rgb(0, 0, 0);
    border-radius: 5px;
}

body::-webkit-scrollbar{
    width: 15px;
    border: 1px solid rgb(0, 0, 0);
}

body::-webkit-scrollbar-thumb{
    background-color:rgb(255, 255, 255) ;
    border-radius: 6px;
}